@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
body{
	margin: 0;
	padding: 0;
	background: #FFFBF0;
	font-size: 1.4rem;
	color:default_body_color;
	font-family: 'Lato', sans-serif;
}
.container{
	width: 100%;
	max-width:908px;
	margin: 0 auto;
}
p{
	font-weight: normal;
	font-size: 1.4em;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 700;
	color: $header_color;
}
a{
	color:$link_color;
}
